<div class="container mx-auto">
    <section class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bg-blue-500 pt-1 rounded-lg">
                        <div class="bg-white shadow-lg text-justify rounded-lg">
                            <h4 class="text-xl text-center pt-2"> Republic of Kenya </h4><br>
                            <h3 class="text-3xl text-center font-bold"> LABOUR INSPECTION REPORT </h3>
                            <hr class="w-40 h-1 mx-auto bg-blue-500 border-0 rounded md:my-5 md:mx-auto">
                            <div>
                                <div class="p-4 mb-4 text-sm text-black-800 rounded-lg bg-blue-50" role="alert">
                                    <span class="font-medium">Module I</span>
                                </div>
                                <div class="p-4">
                                    <h4 class="text-2xl text-center font-bold text-justify pb-4"> General Particulars </h4>
                                    <form class="w-full max-w-lg">
                                        <div class="flex flex-wrap -mx-3 mb-6">
                                            <div class="w-full px-3">
                                                <label for="industry" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                      Industry
                                    </label>
                                                <input id="industry" type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                                <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                            </div>
                                        </div>
                                        <div class="flex flex-wrap -mx-3 mb-6">
                                            <div class="w-full px-3">
                                                <label for="firm" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                      Name of Firm
                                    </label>
                                                <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                            </div>
                                        </div>
                                        <div class="flex flex-wrap -mx-3 mb-6">
                                            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                                <label for="district" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                      District
                                    </label>
                                                <input id="industry" type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                                <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                            </div>
                                            <div class="w-full md:w-1/2 px-3">
                                                <label for="date" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                      Date
                                    </label>
                                                <input type="date" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="p-4 relative overflow-x-auto shadow-md sm:rounded-lg">
                                    <!-- <h4 class="text-2xl text-center font-bold text-justify pb-4"> Terms of Service </h4> -->
                                    <table class="w-full text-sm text-left text-gray-500 excel-table">
                                        <caption class="text-2xl text-center font-bold text-justify pb-4">
                                            TERMS OF SERVICE
                                        </caption>
                                        <thead class="text-xs text-gray-700 bg-gray-50">
                                            <tr>
                                                <th rowspan="4">
                                                    Occupation
                                                </th>
                                                <th rowspan="4" class="[transform rotate-90 -translate-y-full]">NUMBER</th>
                                                <th colspan="4">HOURS OF WORK</th>
                                                <th class="[transform rotate-90 -translate-y-full] text-center" rowspan="4">
                                                    FREQUENCY OF PAYMENT
                                                </th>
                                                <th colspan="6">WAGE RATES</th>
                                                <th class="[transform rotate-90 -translate-y-full] text-center" rowspan="4">
                                                    Free Housing/House Allowance
                                                </th>
                                                <th colspan="4">OTHER EMOLUMENTS</th>
                                                <th colspan="5">PAID ABSENCE</th>
                                                <th colspan="5">FOR USE STATISTICAL SECTION</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2">DAILY</th>
                                                <th colspan="2">WEEKLY</th>
                                                <th colspan="3">BASIC</th>
                                                <th colspan="3">OVERTIME</th>
                                                <th colspan="2">RATIONS <br> OR FREE <br> CANTEEN <br>MEALS</th>
                                                <th colspan="2">Protective<br>Gears ie.<br>clothing.<br>gloves. etc</th>
                                                <th colspan="3"></th>
                                                <th colspan="2">SICKNESS</th>
                                                <th colspan="2">GROSS<br>MONTHLY<br>EMOLUMENTS</th>
                                                <th colspan="1">Constant</th>
                                                <th colspan="2">GROSS HOURLY EQUIVALENT</th>
                                            </tr>
                                            <tr>
                                                <th class="[transform rotate-90 -translate-y-full]">Normal</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Actual</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Normal</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Actual</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Sh.</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Cts.</th>
                                                <th>Per<br> Hourly<br> Day.<br> Week.<br>Monthly.<br>etc</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Normal</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Rest Days</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Holidays</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Value</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Per</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Value</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Per</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Normal leave per year</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Maternity leave</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Paternity leave</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Full pay</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Half pay</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Sh.</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Cts.</th>
                                                <th class="[transform rotate-90 -translate-y-full]"></th>
                                                <th class="[transform rotate-90 -translate-y-full]">Sh.</th>
                                                <th class="[transform rotate-90 -translate-y-full]">Cts.</th>
                                            </tr>
                                            <tr>
                                                <tr>
                                                    <th *ngFor="let number of numbers">{{ number }}</th>
                                                    <th></th>
                                                    <th>25</th>
                                                    <th>26</th>
                                                    <th></th>
                                                    <th></th>

                                                </tr>
                                                <tr>
                                                    <td><input type="text" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="text" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                    <td><input type="number" class="border border-gray-300 p-2 w-full"></td>
                                                </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<router-outlet />